

/*.image {
   width: 450px;
    height: 350px;
}

form {
    /*text-align: center;
    display:flex;
    flex-direction: column;
    align-items:center;
}

#container {
    /*width: 450px;
    color:whitesmoke;
    text-align: center;
    text-align:justify; 
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    
    gap: 3px;
}*/

.description {
    /*font-size: 18px;
    font: 'arial'; 
    position: absolute;
    left:-20%;
    transform:translatex(10%);
    top:100%;*/
    width:100%;
}

body {
    margin:0;
    padding:0;
    font-family: 'Montserrat';
}

#left {
    background: #0a3d62;
    height: 100vh;
    width:40%;
    display:grid;
    justify-content: center;
    justify-items: center;
}

.right {
    background: url(casino.jpeg);
    background-size: cover;
    background-position: center;
    width:60%;
    height: 100vh;
}



h1 {
    font-size: 50px;
    width: 100%;
    margin: auto;
    margin-bottom: 1px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 10%;
    padding-top: 5%;
    
    color: #f6b93b;
}

h2 {
    color: white;
    text-align: center;
}

p {
    font-size: 19px;
    line-height: 20px;
    width: 70%;
    color: rgb(15, 0, 0);
    margin: auto;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
    color:rgb(97, 188, 230);
    
    font: bolder;
}






#split_screen {
    display: flex;
}
#button_encode {
    background-color: rgb(60, 60, 78);
    border: 10px;
    padding: 15px 32px;
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 10px 10px 10px black;

}
#button_decode {
    background-color: rgb(60, 60, 78);
    border: 10px;
    padding: 15px 32px;
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 10px 10px 10px black;
}
#numposition1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#numposition2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#message_encode{
    border-radius: 5px;
    width:300px;
    height: 20px;
    box-shadow: 2px 2px 2px black;
}
#message_decode{
    border-radius: 5px;    
    box-shadow: 2px 2px 2px black;
    width:300px;
    height: 20px;
}
#textencode {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#textdecode {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#position_encode {
    box-shadow: 2px 2px 2px black;
    width:150px;
    height: 20px;
    border-radius: 5px;
}
#position_decode {
    box-shadow: 2px 2px 2px black;
    width:150px;
    height: 20px;
    border-radius: 5px;
}